{% extends "base.html" %}
{% block title %}Criar Novo Album{% endblock %}
{% block content %}
    <h2>New Album</h2>
    <form method="post">
        <label>Title: <input type="text" name="title" required></label><br>
        <label>Artist: <input type="text" name="artist" required></label><br>
        <label>Ranking: <input type="text" name="ranking" required></label><br>
        <label>Year: <input type="text" name="year" required></label><br>
        <button type="submit">Create</button>
    </form>
{% endblock %}