<link rel="stylesheet" href="{{ url_for('static', path='albums/list.css') }}">

{% extends "base.html" %}

{% block content %}
<h2>Lista {{ lista }}</h2>
{% if albums %}
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Ranking</th>
                <th>Título</th>
                <th>Artista</th>
                <th>Ano</th>
                {% if is_authenticated %}
                    <th>Sua Nota</th>
                {% endif %}
                <th>Media</th>
                {% if is_authenticated %}
                    <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr>
                <td>{{ album.ranking }}</td>
                <td>{{ album.title }}</td>
                <td>{{ album.artist }}</td>
                <td>{{ album.year }}</td>
                {% if is_authenticated %}
                    <td>{{ album.rate if album.rate is not none else "N/A" }}</td>
                {% endif %}
                <td>{{ album.media or "N/A" }}</td>
                {% if is_authenticated %}
                    <td>
                        <a href="/albums/id/{{ album.id }}">Ver Infos</a>
                        <form action="/albums/{{ album.id }}/rate" method="post">
                            <input type="number" name="rate" step="0.1" min="0" max="10" value="{{ album.rate or '' }}">
                            <button type="submit">Salvar nota</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if page > 1 %}
            <a href="/albums/{{ list_type }}?page={{ page - 1 }}">« Anterior</a>
        {% endif %}

        <span>Página {{ page }} de {{ total_pages }}</span>

        {% if page < total_pages %}
            <a href="/albums/{{ list_type }}?page={{ page + 1 }}">Próxima »</a>
        {% endif %}
    </div>
{% else %}
    <p>Nenhum álbum encontrado.</p>
{% endif %}
{% endblock %}