<link rel="stylesheet" href="{{ url_for('static', path='auth/login.css') }}">
{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>
    {% if error %}
         <div class="error-message">{{ error }}</div>
    {% endif %}
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <div id="token-output"></div>
</div>
{% endblock %}